body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("http://pre08.deviantart.net/92be/th/pre/f/2012/017/b/c/my_favorite_batcave_render_by_dipperdon-d4moic3.jpg");
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-position: center;

  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.batman{
  position: absolute;
  animation: orbit 4s linear infinite;
}

@keyframes orbit {
	from { 	transform: rotate(360deg) translateX(250px); }
	to   {  transform: rotate(0deg) translateX(250px); }
}


